
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <form [formGroup]="form">
        <label for="tilid">title</label>
        <input type="text" id="tilid" placeholder="enter a title" formControlName="title">
        <label for="story">Tell us your story:</label>

        <textarea id="story" name="story" formControlName="content"
                  rows="5" cols="40">
        It was a dark and stormy night...
        </textarea>
        <div class="form-group d-flex justify-content-evenly">
          <button type="button" class="btn btn-primary" (click)="sendRequest()">envoyer</button>
          <button class="btn btn-danger ml-2" (click)="deleteAll()">delete all</button>
          <button class="btn btn-success ml-2" (click)="fetchAll()">fetch all</button>
        </div>
      </form>

    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div *ngFor="let p of posts">
        <h2>{{p.title|uppercase}}</h2>
        <hr>
        <p>
          {{p.content}}
        </p>
      </div>

    </div>
  </div>
</div>



