.col-5:first-child
{
  border-radius: 4px!important;
  background-color: #f7f7f7!important;
  box-sizing: border-box!important;
  img{
    margin-top:30px!important;
  }

}

*{
  font-size: 10px;
}
form{
width: 220px;;
}
