<header class="header">
  <button mat-icon-button color="primary" (click)="toggleSideBar()" aria-label="Example icon button with a menu icon">
    <mat-icon color="accent">
        fitbit
    </mat-icon>
  </button>
  <div class="container">
    <div class="nav-flex">

      <a href="/" class="brand">
      <img src="../assets/images/logo.svg">
      </a>

      <ul class="nav">
        <li><a routerLink="/" class="nav-link">Home</a></li>
        <li><a routerLink="/" class="nav-link">Features</a></li>
        <li><a routerLink="/" class="nav-link">Pricing</a></li>
        <li><a routerLink="/" class="nav-link">FAQs</a></li>
        <li><a routerLink="/" class="nav-link">About</a></li>
      </ul>
        <ul class="navi" id="idauth">
          <li class="active"><a routerLink="/" class="nav-link">Sign in</a></li>
          <li><a routerLink="/" class="nav-link">Sign up</a></li>
        </ul>

      <!-- <span class="btn-menu">
        <span ></span>
        <span></span>
        <span></span>
      </span> -->
      <i class="fas fa-bars " style="display: none;"></i>
    </div>
  </div>
</header>
<div class="side-nav" [ngClass]="{'show':Isclicked}">
  <h3>
  <button mat-icon-button color="primary" (click)="toggleSideBar()" aria-label="Example icon button with a menu icon">
    <mat-icon>
      keyboard_double_arrow_left
    </mat-icon>
  </button>
</h3>
  <ul class="nav-side">
    <li><a routerLink="/" class="nav-link">Home</a></li>
    <li><a routerLink="/" class="nav-link">Features</a></li>
    <li><a routerLink="/" class="nav-link">Pricing</a></li>
    <li><a routerLink="/" class="nav-link">FAQs</a></li>
    <li><a routerLink="/" class="nav-link">About</a></li>
    <li><a routerLink="/" class="nav-link">Pricing</a></li>
    <li><a routerLink="/" class="nav-link">FAQs</a></li>
    <li><a routerLink="/" class="nav-link">About</a></li>
    <li><a routerLink="/" class="nav-link">Pricing</a></li>
    <li><a routerLink="/" class="nav-link">FAQs</a></li>

  </ul>
</div>



