.container-fluid .col-md-12{
  height: calc(100vh - 44px)!important;
  background-color: #eeede7!important;
}
.auth{


}

.ng-star-inserted{
  display: inline-block;
  margin-top: 300px;
}

.appClass{
  width: 40px;
  background-color: #0048ab;
}
