 *{
   box-sizing: border-box;
   font-size: 15px;

 }
 .header{
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   z-index: 800;
 }


 button[color]{
  margin: 2px 10px;
// background-color: pink;
z-index: 800;
}

.nav-flex #idauth{
  flex-grow: 1;
}

a.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 80px;
    height: 30px;
    z-index: 800;
  }
}



@media (min-width:768px){
  i.fas.fa-bars{
    display: none!important;
  }
  span.custom-icon{
    display: none!important;
  }
  .nav-flex{
    display: flex;
    justify-content: center;
  }
   #idauth{
   display: flex;
   justify-content: flex-end;
 }
 #idauth li:first-child{
  margin-right: 10px;
 }
  .nav-flex + ul{
  display: flex;
  justify-content: center;
  flex-grow: 0;
 }
 .nav-flex>ul>li>a{
   cursor: pointer;
   font-size: 12px;
  // background-color: #0047ab59;

 }
 .nav-flex>ul>li{
   position: relative;
   left:0;
   margin-left:2px;
   transition:left .3s ease;
   //padding-bottom: 3px;
 }

 .nav-flex>ul>li:hover{
  cursor: pointer;
  background-color: rgba(199, 195, 195, 0.363);
  border-radius: 2px 2px 0px 0px;
  box-shadow:0px 20px 0px 0px #c7c3c35d;

  transition:left .3s ease;
  //
}
// .nav-flex>ul>li::after{
//   content:'';
//   position: absolute;
//   bottom: -2px;
//    left: 100%;
//   width: 10px;
//   height: 2px;
//   transform: scaleX(0);
//   background-color: rgba(207, 211, 206, 0.849);;
// }
// .nav-flex>ul>li:hover::after{
// width:100%;
// transform:  scaleX(1);
// transition: all .2s ease;
// }
.nav-flex>ul li.activelink{
  background-color: rgba(199, 195, 195, 0.363);
  border-radius: 2px 2px 0px 0px;
  box-shadow:0px 20px 0px 0px rgba(199, 195, 195, 0.370);
}

// .nav-flex>ul>li.activelink::before{
//   content:'';
//   position: absolute;
//   bottom: -2px;
//   left:0;
//   width: 100%;
//   height: 3px;
//   background-color: rgba(207, 211, 206, 0.849);
// }

}
 @media (max-width:767px) {
.container{
  margin-left: 4px;
  margin-left: 4px;
}
a[role]{
  margin-bottom: 2px;
  &:hover{
    color:white;
  }
  }
i{
  display: block;
  position: absolute;
  right: 15px;
}

.open-nav{
  display: block;
  top:45px;
  transition: top,.25s ease-out;

}
.close-nav{
  top:-445px;
  transition: top,.1ms ease-in;
  display: none;

}
header.header span.custom-icon{
  position: absolute;
  right: 15px;
  width: 32px !important;;
   height: 28px!important;
  display: flex!important;
  justify-content: space-between!important;
  align-items: center;
  flex-wrap: wrap;
  z-index: 800;

}
span.custom-icon span{
  display: block!important;
  height: 2px!important;
  width: 30px!important;
  border-radius: 1px;
  background-color: rgba(255, 136, 1, 0.945);
}
.nav-flex{
  position: absolute;
  //top:45px;
  width: 100vw;
 left:0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
background-image: url('../../../../assets/images/bg/04.jpg');
background-size: cover;
background-position: 30% 20%;
box-shadow: 0px 6px 11px 0px #00000024;
border: 0.1px solid #e2e4e7;
border-radius: 0px 0px 4px 4px;
}
.overlay{
  position: inherit;
  top: 0px;
  width: 100vw;
  height: 260px;
  background-color: #1111116c;
  z-index: 500;
}
#idauth{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#idauth li:first-child{
  margin-bottom: 3px;
}
.nav-flex>ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
  margin:0;
  padding:0;
  width: 280px;
  min-width: 120px;
  z-index: 600;
 }
 .nav-flex>ul:first-child{
border-radius: 4px 4px 0px 0px;
 }
 .nav-flex>ul>li>a{
   display: flex;
  justify-content: center;
  cursor: pointer;
  max-width: 320px;
  color:rgb(248, 245, 245);
  font-weight: 400;
  &:hover{
    color:orange;
  }
}
a[role]{
  margin-bottom: 4px;
  &:hover{
    color:white;
  }
  }
 }

