*{
  box-sizing: border-box;
  font-size: 12px;
}
.header{
  position:fixed;
  top:0px;
  width: 100vw;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow:0px 1px 13px #00000036;
}
main{
  margin-top: 40px;
}
.nav-flex{
  display: flex;
  justify-content: space-around;

}
#idauth{
  display: flex;
  justify-content: flex-end;
}
.nav-flex #idauth{
  flex-grow: 1;
}
a{
  text-decoration: none;
}
a.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    margin:0
  }
}
ul.nav,ul.navi,div.side-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.nav li,ul.navi li{
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  position: relative;
  top:0px;
  a{
    cursor: pointer;
    height: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px!important;
    font-weight: 100;
    //border-bottom: 2px solid transparent;
    transition: border-bottom,color .4s ease-out;
  }
}

a img{
width:4rem;
}

 ul.nav li:hover a{
   //color:rgb(166, 88, 221);
 }

 ul.nav li a::before{
content: '';
position: absolute;
top:37px;
right: 48%;
width:1px;
height: 1px;
transition: transform .3s ease-in;
 }

ul.nav li:hover a::before{
    transform: scaleX(50);
    background-color: indigo;
   }
ul.nav li.active a::before{
  transform: scaleX(50);
  background-color: rgb(29, 150, 150);
}
ul.nav li.active a{
  color:orange;
}

@media(min-width:992px){

}

.fa-sign-in{
  color:green;
}

.nav-link{
  font-size: 12px;
}

button[color]{

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 10px;
}
ul.navi li{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
ul.navi li a.nav-link{
  cursor: pointer;
position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 24px;
 padding-left: 4px;
 padding-right: 4px;
 border: .1px solid rgba(100, 50, 136, 0.493);
 border-radius: 2px;
 background-color: transparent;
 z-index: 5;
 box-shadow: 1px 1px 2px 0px #5226930c;
 transition: background-color 0.5s ease;

}

ul.navi li a.nav-link:hover{
  background-color: indigo;
  box-shadow: 1px 1px 2px 0px #52269338;
  color: white;
}

   ul.navi li:hover a.nav-link{

   }
   .active{
    background-color: rgba(100, 50, 136, 0.993)!important;
    border: .1px solid #041117 !important;
    color: white !important;
    box-shadow: 1px 1px 5px 0px #605c728f !important;
   }

div.side-nav{
  width: 170px;
  height: calc(100vh - 40*2px);
  background-color: #f8f6f8f1;;
  box-shadow: 1px 1px 2px 0px rgba(14, 5, 19, 0.267);
  border-radius: 0px 2px 0px 2px;

  h3{
    border-bottom: 1px solid rgb(234, 233, 235);
    padding-left:120px;
    background-color: rgb(4, 4, 41);
    mat-icon{
      color:white;
    }
  }
  p{
    padding-left:8px;
  }
}
   .side{
     width:150px;
   }

.side-nav{
//box-shadow: 1px 1px 1px rgba(76, 0, 130, 0.288);
position: fixed;
top:40px;
z-index: 800;
left:-500px;
transition: left .5s ease ;
  }

  .show{
   //@include box-shadow: 1px 1px 1px rgba(76, 0, 130, 0.288);
   transition: left .5s ease ;
  left: 0px;
    background-color: #f6f6f8f1;
    overflow-y: hidden;
    height:fit-content
  }
.hide
{
  left:-200px;
}

div.side-nav ul li a{
  text-decoration: none;
  //color:w;
  display: block;
  padding-left: 20px;
}
.side-nav ul.nav-side li a{font-size: 12px;
}
